// Global Variables
$button-font-weight: 700;
$button-border: 3px solid red;

//Navbar Variables
$navbar-background-color: #7395ae;
$navbar-link-color: #000;

//Footer Variables
$footer-background-color: #557a95;