.dragdrop-article {
    display: inline-block;
    max-width: 30%;
    padding-right: 1.5%;
}

.dragdrop-article:last-child {
    padding-right: 0;
}

.dragdrop-article-image {
    max-width: 500px;
    width: 100%;
}

@media screen and (max-width: 767px) {
    .dragdrop-article {
        max-width: 100%;
        padding: 0 0 20px;
    }
    .dragdrop-article:last-child {
        padding: 0;
    }
}