.navbar {
    background-color: $navbar-background-color;
    width: 100%;
}

.navbar-brand {
    display: inline-block;
    margin: 0;
    padding: 20px 40px 20px 20px;
}

.nav {
    display: inline-block;
}

.nav-link {
    color: $navbar-link-color;
    padding: 20px;
    text-decoration: none;
}